footer {
  font-weight: 400;
  color: #fff;
  a {
    color: #fff !important;
    font-weight: 400;
  }

  h4 {
    color: #fff !important;
    text-decoration: underline;
    margin-bottom: 1em !important;
  }
  .site-footer-top-section-4{
    padding-top: 50px;
  }
  ul li {
    margin-bottom: 10px;
    a{
        line-height: 1.2em;
    }
    }
}
